/******************************************************************************
 **  IMPORTS
 ******************************************************************************/
// ----- CSS reset -----
@import "base/normalize";
// ----- SASS libraries -----
// handy mixins for autoprefixing, etc.
@import "bourbon/bourbon";
// base styles, see esp. base/_variables.scss
@import "base/base";

// lightweight grid system
$max-width: em(960) !global;
// a bit more sensible
@import "neat/neat";
// ----- Page transitions -----
// for page-switching with jquery.smoothState.js
//@import "transitions/_transitions.scss";
// ----- Icon font -----
@import "icons/font-awesome";

/******************************************************************************
 **  BASE STYLES
 ******************************************************************************/

html {
  height: 100%;
}

// ----- Header -----
header {
  background-color: $base-accent-color;
  color: white;
  padding: 5px 0;
  a {
    color: white;
    font-weight: bold;
    display: inline !important;
  }
}

// ----- Main -----
body {
  background: $lilia url(../../static/img/bg-pattern.png);
  background-size: 300px;
  min-height: 100%;
  @include clearfix;
}

/******************************************************************************
 **  GRID
 **  See Neat library & docs: http://thoughtbot.github.io/neat-docs/latest/
 ******************************************************************************/

.wrap {
  @include outer-container;
}

// media queries - regular doesnt work
@media (max-width: 1010px) {
  .wrap {
    margin: 0 3%;
  }
}

/**** LANDING SPECIFIC ****/

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 5em;
  color: #fff;
  text-align: center;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/landing.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  z-index: 0;
}

/******************************************************************************
 ** FORMS
 ******************************************************************************/

.help-block {
  &:before {
    content: "\2716\00A0\00A0";
  }
  @extend %error;
}

.form-wrapper {
  background-color: white;
  border: 5px solid transparentize($base-accent-color, 0.4);
  border-radius: 8px;
  padding: 30px 30px;
  @include span-columns(7);
  @include shift(2.5);
}

/******************************************************************************
 **  MODULES / LOBOTOMIZED OWLS
 **  See http://alistapart.com/article/axiomatic-css-and-lobotomized-owls)
 ******************************************************************************/

* + * {
  margin-top: 1.5em;
}

.compact * + * {
  margin-top: 0.75em;
}

.margins-off > * {
  margin-top: 0;
}

/******************************************************************************
 **  MENU GRID SYSTEM
 ******************************************************************************/

@mixin grid-item-columns($columns) {
  width: 100% / 13 * $columns;
  margin-top: 16px;
  margin-right: 16px;
  //margin-left: 8px;
}

.grid-items-lines {
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 13em;
  @include clearfix;
  position: relative;
  .grid-item {
    @include transition(all 0.3s ease-in-out);
    height: $grid-item-height;
    width: 80%;
    overflow: hidden;
    float: left;
    padding: 2em;
    cursor: pointer;
    background-color: white;
    //        box-shadow: 0 0 30px rgba(40, 40, 40, 0.1);
    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
    &:hover {
      box-shadow: 0 0 30px rgba(40, 40, 40, 0.3);
    }
    border: $base-border;
  }
  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: .4em;
  }
  .grid-item p {
    color: transparentize($grid-item-color, 0.4);
    @include media($medium-screen) {
      max-width: 70%;
    }
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }
}

/***************** STUDENT MENU ******************/

li.overdue {
  color: $temple-red;
  list-style-type: none;
  &:before {
    @include fa-icon;
    content: "#{$fa-var-exclamation-circle}  ";
  }
}

/********* OVERALL STUDENT PAGE STYLES **********/

h1.page {
  //padding-bottom: 1em;
}

@media (max-width: 350px) {
  h1 {
    font-size: 150%;
  }
  h3 {
    font-size: 100%;
  }
}

@media (min-width: 350px) and (max-width: 440px) {
  h1 {
    font-size: 180%;
  }

  h3 {
    font-size: 130%;
  }
}

/**************** STUDENT FAQ *******************/

p.question {
  font-size: 130%;
  font-weight: bold;
}

/**************** STUDENT PROFILE ***************/

#field {
  font-weight: bold;
}

h1.faq {
  padding-bottom: 1em;
}

/**************** STUDENT MENTOR VIEW ***********/

div.mentor-pic {
  display: block;
  height: 256px;
  width: 256px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
}

/**************** STUDENT TASKS *****************/

div.hidden-items {
  border: 2px solid $heather;
  padding: 12px 16px;
  color: $silver;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  @include transition(all 0.2s ease-in-out);
  &:hover {
    color: darken($silver, 30%);
    border-color: darken($silver, 20%);
  }

  &:active {
    background: darken($silver, 20%);
    color: white;
  }
  &::after {
    @include fa-icon();
    content: "#{$fa-var-angle-right}";
    float: right;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.block {
  display: block;
  background-color: white;
  margin-top: 30px;
  box-shadow: 0 0 30px rgba(40, 40, 40, 0.1);
  @include transition(all 0.3s ease-in-out);
  &:hover {
    box-shadow: 0 0 30px rgba(40, 40, 40, 0.3);
  }
  border: $base-border;
}

.task.block {
  padding: 30px 50px 40px;
  cursor: pointer;
}

/**** FLASHES ****/

.flash-error {
  @include outer-container;
  background-color: darken($silver, 20%);
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  &::before {
    @include fa-icon();
    content: "#{$fa-var-info-circle}  ";
  }
}

/****** MENTOR STYLES *******/
/*** View Students ***/
$flex-box-border-color: $medium-gray;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: lighten($light-gray, 10);
$flex-box-gutter: .4em;
$flex-box-width: 18em;
$flex-box-color: transparentize($base-font-color, .3);

.flex-boxes {
  @include clearfix;
  //@include display(flex);
  @include justify-content(center);
  @include align-items(stretch);
  //@include flex-wrap(wrap);
  text-align: center;
}

.flex-box {
  @include transition(all 0.2s ease-in-out);
  @include align-self(stretch);
  display: inline-block;
  box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
  border-radius: $base-border-radius;
  margin: $flex-box-gutter;
  padding: 2em 2em 3em 2em;
  background: white;
  max-width: 31%;
  min-width:31%;
  float:left;

  &:hover {
    background: rgba($temple-red, 0.3);
    .flex-title {
      color: transparentize($base-font-color, .2);
    }
  }
}

//breakpoint 1012 for less than 3
// MEDIA QUERIES FOR FLEXBOX
@media (max-width: 685px) {
  .flex-boxes {
    margin: 2%;
  }

  .flex-box {
    min-width: 97%;
    max-width: 97%;
  }
}

@media (min-width: 685px) and (max-width: 1020px) {
  .flex-boxes {
    margin: 2%;
  }
  .flex-box {
    min-width: 48%;
    max-width: 48%;
  }
}


.prog > div {
  text-align: center;
  margin: auto;
}

.prog {
  padding-bottom: 1.5em;
}

.flex-box .flex-title {
  color: $flex-box-color;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.flex-box p {
  margin: auto;
  line-height: 1.5em;
  color: transparentize($flex-box-color, .1);
}

/*** Specific student ***/
.overview-name {
  margin-bottom: 1em;
}

.overview-title {
  margin: 1em 0 0.5em;
}

.overview-task, .overview-overdue {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding: 1em;
  background: white;
  box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
}

.overview-overdue {
  color: $temple-red;
  &:before {
    @include fa-icon;
    content: "#{$fa-var-exclamation-circle}  ";
  }
}

fieldset {
  margin-bottom: 2em;
}

/*** Task Creation Page ***/
// form headers
.form-group {
  margin-top: 0;
  margin-bottom: 2em;
}

// student name label
.control-label {
  font-size: 1.5em;
}

// student name checkbox
label {
  display: inline-block;
  margin-top: 0;
  cursor: pointer;
}

input[name="students"]:checked + label {
  color: $temple-red;
}

//student list
ul#students {
  li {
    margin-top: 0;
  }
}

/*** All tasks page ****/
.all-tasks {
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.all-tasks-li {
  list-style-type: none;
  padding: 1em;
  background: white;
  box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
}

.all-tasks-li-overdue {
  color: $temple-red;
  &:before {
    @include fa-icon;
    content: "#{$fa-var-exclamation-circle}  ";
  }
}

.round-countdown {
  display: inline-block;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  background-color: white;
  border: 2px solid gray;
  color: gray;
  text-align: center;
  line-height: 0.3;
  padding-top: 5px;

  &.overdue {
    background-color: $temple-red;
    border-color: $temple-red;
    color: white;
  }
}

// filtering
#filter {
  margin: 0 1em;
  margin-bottom: 2em;
}

.filter-l {
  cursor: pointer;
  padding: 0 1em;
  font-weight: normal;
}

.filter-i {
  display: none !important;
}

.filter-i:checked + label {
  color: $temple-red;
}

// new filtering
$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40);
$dropdown-border: 1px solid silver;
$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

.dropdown {
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown-description {
  background: $dropdown-background;
  border-bottom-left-radius: $base-border-radius;
  border-bottom: $dropdown-border;
  border-left: $dropdown-border;
  border-top-left-radius: $base-border-radius;
  border-top: $dropdown-border;
  color: $dropdown-description-color;
  float: left;
  font-size: .7em;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

  @include media($large-screen) {
    font-size: 1em;
  }
}

.dropdown-button {
  background: $dropdown-background;
  border-bottom-right-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  border-top: $dropdown-border;
  border-right: $dropdown-border;
  border-bottom: $dropdown-border;
  cursor: pointer;
  float: right;
  font-size: .7em;
  font-weight: 800;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding * 3.5) 0 ($dropdown-padding / 2);
  position: relative;

  @include media($large-screen) {
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
  }
}

.dropdown-button:hover {
  background-color: $light-gray;
}

.dropdown-button:after {
  color: $base-font-color;
  content: "\25BE";
  display: block;
  position: absolute;
  right: $dropdown-padding;
  top: $dropdown-arrow-top-distance;
}

.dropdown-menu {
  @include transition(all 0.2s ease-in-out);
  background: $dropdown-background;
  border-radius: $base-border-radius;
  border: $dropdown-border;
  box-shadow: 0 2px 2px transparentize(black, .8);
  color: $dropdown-color;
  cursor: pointer;
  display: none;
  overflow: visible;
  position: absolute;
  right: 0;
  top: $dropdown-distance-from-menu;
  width: 228px;
  z-index: 99999;
}

.dropdown-menu li {
  border-bottom: $dropdown-inner-border;
  color: $dropdown-color;
  margin-top: 0;
  padding: $dropdown-padding / 2;
}

.dropdown-menu li:hover {
  background: $light-gray;
}

.dropdown-menu li:first-child {
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
}

.dropdown-menu li:last-child {
  border: none;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

.show-menu {
  display: block;
}