{% extends "partials/base.html" %}

{% block title %}Forum{% endblock %}

{% block header %}
  {% include "partials/pageheader.html" %}
{% endblock %}

{% block main %}
<div class="iframe-wrap">
    <h1 class="page">Forum</h1>

    <!--<iframe class="iframe"
     src="javascript:void(0)"
     frameborder="0">
   </iframe>-->

    <object class="embed" data="https://groups.google.com/forum/embed/?place=forum/hack4impact&showsearch=true&output=embed&showpopout=true&theme=default">
     <embed class="embed" src="https://groups.google.com/forum/embed/?place=forum/hack4impact&showsearch=true&output=embed&showpopout=true&theme=default"> </embed>
     Error: Embedded data could not be displayed.
   </object>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".embed").height($(document).height());
    /*$(".iframe").attr("src", function() {
      return "https://groups.google.com/forum/embed/?place=forum/hack4impact" +
 "&showsearch=true&showpopout=true&theme=default&parenturl=" + encodeURIComponent(window.location.href);
  });*/
});

  $(document).resize(function() {
    $(".embed").height($(document).height());
  });
</script>
{% endblock %}