{% extends "partials/base.html" %}

{% block title %}Landing{% endblock %}

{% block header %}
<div class="wrap">
    iCAN College Checklist
    <span style="float: right"><a href="/">Log out</a></span>
</div>
{% endblock %}
{# number of upcoming tasks #}
{# list of overdue tasks #}
{# mentor name #}
{# student name #}

{% block main %}
<div class="wrap">
    <h1>Hey there, Dora.</h1>
    <h3>You have <strong>3</strong> upcoming tasks.</h3>
</div>

<div class="wrap">
    <div class="grid-items-lines margins-off">
        <a href="/tasks" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
            <h1>Your Tasks</h1>
            <p>You have three upcoming tasks.</p>
        </a>
        <a href="/mentor" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
            <h1>Your Mentor</h1>
            <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.</p>
        </a>
        <a href="/profile" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Your profile</h1>
            <p>Edit your info.</p>
        </a>
        <a href="/school" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Temple University</h1>
            <p>Find out more about your college, contact the admissions office, and more.</p>
        </a>
        <a href="/faq" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
            <h1>Frequently asked questions</h1>
            <p>Find out more information about the iCAN program and preparing for college.</p>
        </a>
        <a href="/contact" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
            <h1>Contact Us</h1>
            <p>Get in touch with the iCAN team.</p>
        </a>
        <div class="right-cover"></div>
        <div class="bottom-cover"></div>
    </div>
</div>
{% endblock %}