{% extends "partials/base.html" %}

{% block title %}Menu{% endblock %}

{% block header %}
<div class="wrap">
    iCAN College Checklist
    <span style="float: right"><a href="/"><i class="fa fa-times-circle"></i>&nbsp; Log out</a></span>
</div>
{% endblock %}

{% block main %}
<div class="wrap">
    <h1 class="menu-title">Hey there, {{ student.name }}.</h1>
    <h3 class="menu-title">You have {{tasks|length}} task{{'s' if tasks|length != 1}}.</h3>
    <ul class="margins-off">
    {% for task in tasks %}
      {# Overdue tasks #}
      {% if date.now() > task.deadline %}
        <li class="overdue"><b>{{ task.title }}</b> was due on {{task.deadline.strftime('%b %d, %Y')}}</li>
      {% else %}
        <li><b>{{ task.title }}</b> is due on {{task.deadline.strftime('%b %d, %Y')}}</li>
      {% endif %}
    {% endfor %}
    </ul>
</div>

<div class="wrap">
    <div class="grid-items-lines margins-off">
        <a href="tasks" class="grid-item grid-item-big">
            <i class="fa fa-check-square-o fa-3x"></i>
            <h1>Your Tasks</h1>
            <p>What's on the list?</p>
        </a>
        <a href="mentor" class="grid-item">
            <i class="fa fa-compass fa-3x"></i>
            <h1>Your Mentor</h1>
            {% if student.mentor.name %}
            <p>Connect with {{student.mentor.name}}.</p>
            {% else %}
            <p>Mentor pending!</p>
            {% endif %}
        </a>
        <a href="profile" class="grid-item">
            <i class="fa fa-user fa-3x"></i>
            <h1>Your profile</h1>
            <p>Edit your info.</p>
        </a>
        <a href="college" class="grid-item grid-item-big">
            <i class="fa fa-graduation-cap fa-3x"></i>
            <h1>{{student.university.name}}</h1>
            <p>Find out more about your college, contact the admissions office, and more.</p>
        </a>
        <a href="faq" class="grid-item">
            <i class="fa fa-question-circle fa-3x"></i>
            <h1>Frequently asked questions</h1>
            <p>Find out more information about the iCAN program and preparing for college.</p>
        </a>
        <a href="forum" class="grid-item">
            <i class="fa fa-comments fa-3x"></i>
            <h1>Forum</h1>
            <p>Connect with your peers!</p>
        </a>
        <a href="contact" class="grid-item">
            <i class="fa fa-envelope fa-3x"></i>
            <h1>Contact Us</h1>
            <p>Get in touch with the iCAN team.</p>
        </a>
    </div>
</div>
{% endblock %}
