{% extends "partials/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tasks{% endblock %}

{% block header %}
<div class="wrap">
    iCAN College Checklist

    <span style="float: right">Help | Log out</span>
</div>
{% endblock %}

{% block main %}
<div class="wrap">
    <h1>SIGNUP!!!</h1>
    {{ wtf.quick_form(form) }}
    <button type="button"><a href="/">Back</a></button>
</div>
{% endblock %}

{% block footer %}
<div class="wrap">
    this be footer
</div>
{% endblock %}