{% extends "partials/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Task {{ task.name }}{% endblock %}

{% block header %}
<div class="wrap">
    <a href="javascript: history.go(-1)"><i class="fa fa-angle-left"></i>&nbsp; Back</a>
</div>
{% endblock %}

{% block main %}
<div class="wrap">
    <h1 class="page">Edit this task</h1>
    This is a task name: {{ task.title }}<br>
    Task description: {{ task.description }}
    
    Mark as completed: <fieldset>{{ wtf.quick_form(form) }}</fieldset>
</div>
{% endblock %}