{% extends "partials/base.html" %}

{% block title %}Tasks{% endblock %}

{% block header %}
    {% include "partials/pageheader.html" %}
{% endblock %}

{% block main %}
    <div class="wrap">
        <h1>Your tasks</h1>

        <div class="hidden-items" onClick="location.href='tasks/completed'">
            View {{ num_completed }} completed tasks
        </div>
        <div class="tasks">
        {% if tasks %}
            <ul>
                {% for task, days_to_due in tasks %}
                    <li class="task block" onClick="location.href='task/{{ task.id }}'">
                        <div style="display:inline-block; margin-right: 20px;">
                            <div class="round-countdown {{ 'overdue' if days_to_due and days_to_due < 0 }}">
                                {% if days_to_due >= 0 %}<h1>{{ days_to_due }}</h1><br><b>DAY{{ 'S' if days_to_due != 1 }}</b>
                                {% else %}
                                    <h1 style="margin-top: 5px"><i class="fa fa-exclamation-triangle"></i></h1><br><b></b>
                                {% endif %}
                            </div>
                        </div>

                        <div style="display:inline-block" >
                            <h3 style="display:inline">{{ task.title }}</h3>
                            <br>
                            <span class="due-date {{ 'overdue' if days_to_due and days_to_due < 0 }}">
                                Due {{ task.deadline.strftime('%b %d %Y') }}
                            </span>
                        </div>

                        <hr>
                        {{ task.description }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
    </div>
{% endblock %}