{% extends "partials/base.html" %}

{% block title %}Profile{% endblock %}

{% block header %}
{% include "partials/mentorheader.html" %}
{% endblock %}

{% block main %}
<div class="wrap">
  <h1 class="page">My Students</h1>
  <div class="flex-boxes">
    {% for student in students %}
    <a href="students/{{ student['id'] }}" class="flex-box">
      <div id="{{ student['id'] }}" class="prog" alt="">
      </div>
      <h1 class="flex-title">{{ student['name'] }}</h1>
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% for student in students %}
  $(document).ready(function() {
    $("#{{ student['id'] }}").percentageLoader({
      width:100,
      height:100,
      progress: {{student['percentage']}}
    });
  });
{% endfor %}
</script>
{% endblock %}

