{% extends "partials/base.html" %}

{% block title %}Tasks{% endblock %}

{% block header %}
{% include "partials/mentorheader.html" %}
{% endblock %}

{% block main %}
<div class="wrap">
  <h1 class="page">Student Task Overview</h1>
  <div class="dropdown">
    <div class="dropdown-container">
      <p class="dropdown-description">Filter</p>
      <p class="dropdown-button">Pick a student</p>
      <ul class="dropdown-menu dropdown-select">
        <li onclick="filter(-1)"> All </li>
        {% for student in students %}
        <li onclick="filter('{{ student.id }}')"> {{ student.name }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!--
  <div id="filter">
  <b>Filter:</b>
  <input id="all" name="stud" type="radio" class="filter-i" value="all">
  <label onclick="filter(-1)" for="all" class="filter-l">All</label>
  {% for student in students %}
    <input id="{{ student.id }}" name="stud" type="radio" class="filter-i" value="{{ student.name }}">
    <label onclick="filter('{{ student.id }}')" for="{{ student.id }}" class="filter-l">{{ student.name }}</label>
  {% endfor %}
</div>-->

  <ul class ="all-tasks">
  {% for task in tasks %}
      {% if date.now() > task.deadline %}
      <li class="all-tasks-li all-tasks-li-overdue"><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} was due on {{task.deadline.strftime('%b %d, %Y')}}</li>
      {% else %}
      <li class="all-tasks-li"><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} due on {{ task.deadline.strftime('%b %d %Y')}}</li>
      {% endif %}
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $(".dropdown-button").click(function() {
    $(".dropdown-menu").toggleClass("show-menu");
    $(".dropdown-menu > li").click(function(){
      $(".dropdown-menu").removeClass("show-menu");
    });
    /*$(".dropdown-menu.dropdown-select > li").click(function() {
      $(".dropdown-button").html($(this).html());
    });*/
  });
});
</script>

<script type="text/javascript">
  function filter(id) {
    html = "";
    if (id == -1) {
      {% for task in tasks %}
        {% if date.now() > task.deadline %}
          html += "<li class='all-tasks-li all-tasks-li-overdue'><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} was due on {{task.deadline.strftime('%b %d, %Y')}}</li>"
        {% else %}
          html += "<li class='all-tasks-li'><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} due on {{ task.deadline.strftime('%b %d %Y')}}</li>"
        {% endif %}
      {% endfor %}
    } else {
      id = parseInt(id);
      {% for task in tasks %}
        if ({{task.user_id}} === id) {
          {% if date.now() > task.deadline %}
            html += "<li class='all-tasks-li all-tasks-li-overdue'><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} was due on {{task.deadline.strftime('%b %d, %Y')}}</li>"
          {% else %}
            html += "<li class='all-tasks-li'><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} due on {{ task.deadline.strftime('%b %d %Y')}}</li>"
          {% endif %}
        }
      {% endfor %}
    }
    $(".all-tasks").html(html);
  }
</script>
{% endblock %}