{% extends "partials/base.html" %}

{% block title %}Tasks{% endblock %}

{% block header %}
{% include "partials/mentorheader.html" %}
{% endblock %}

{% block main %}
<div class="wrap">
  <h1 class="page">Student Task Overview</h1>
  <div id="filter">
  Filter:
  {% for student in students %}
    <input id="{{ student.id }}" type="checkbox" class="filter-i" value="{{ student.name }}">
    <label for="{{ student.id }}" class="filter-l">{{ student.name }}</label>
  {% endfor %}
  </div>

  <ul class ="all-tasks">
  {% for task in tasks %}
      {% if date.now() > task.deadline %}
      <li class="all-tasks-li all-tasks-li-overdue"><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} was due on {{task.deadline.strftime('%b %d, %Y')}}</li>
      {% else %}
      <li class="all-tasks-li"><b>{{ User.query.get(task.user_id).name }}:</b> {{ task.title }} due on {{ task.deadline.strftime('%b %d %Y')}}</li>
      {% endif %}
  {% endfor %}
  </ul>
</div>
{% endblock %}