
  {% extends "partials/base.html" %}
  {% block title %}iCAN{% endblock %}

  {% block main %}
  <div class="outer margins-off">
  <div class="overlay">
    <h1 class="landing-title">iCAN Road to College</h1><br>
    <div class="landing-btns">
      <button class="landing-btn" type="button" onClick='location.href="/login"'>Login</button>
      <button class="landing-btn" type="button" onClick='location.href="/student/signup"'>Student Signup</button>
      <button class="landing-btn" type="button" onClick='location.href="/mentor/signup"'>Mentor Signup</button>
    </div>
    <p class="logo-p">
      Built by
      <a target="_blank" href="http://hack4impact.org/"><img class="logo" src="../../static/img/h4i_square_white.png"/>
      </a>
    </p>
  </div>
    <div class="landing">
    </div>
  </div>
  {% endblock %}