{% extends "partials/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create Task{% endblock %}

{% block header %}
<div class="wrap margins-off">
  <a href="/admin/"><i class="fa fa-angle-left"></i>&nbsp; Back</a>
  <span style="float: right"><a href="/logout"><i class="fa fa-times-circle"></i>&nbsp; Log out</a></span>
  <div style="clear: both;"></div>
</div>
{% endblock %}

{% block main %}
<div class="wrap">
    <div class="form-wrapper">
        <h1>Create Task</h1>
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}