// Typography
$sans-serif: $roboto;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// More colors
$indigo: #0d3d56;
$sophia: #0f5b78;
$skye:   #117899;
$alice:  #1496bb;
$jade:   #5ca794;
$kelly:  #50b121;
$daisy:  #ebc944;
$amber:  #edaa38;
$april:  #f08c2d;
$coral:  #f26d21;
$rowan:  #d94e20;
$ruby:   #c02f1d;

// More grays
$jet:    #131516;
$raven:  #373d3f;
$asher:  #555f61;
$stone:  #707c80;
$gray:   #8c979a;
$silver: #a7b0b2;
$heather:#c1c7c9;
$pearl:  #dadedf;
$lilia:  #f2f3f4; 

// Background Color
$base-background-color: $lilia;

// Font Colors
$base-font-color: $raven;
$base-accent-color: $skye;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
