<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        {% assets "css_main" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.rawgit.com/weblinc/jquery.smoothState.js/master/jquery.smoothState.js"></script>
    <script src="../../static/js/jquery.percentageloader-0.1.js"></script>
    <title>{% block title %}{% endblock %} - iCAN</title>
    {% endblock %}
</head>

<body>
    <div id="main" class="scene">
        {# we are now inside the smoothState.js container. #}

        {% if self.header() %}
        <header>
            {% block header %}{% endblock %}
        </header>
        {% endif %}
        <main class="fade-in-up element">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="flash-error">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block main %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}

    </div>
    <!-- scripts -->
    <script>
        (function ($) {
            'use strict';
            var $body = $('html, body'),
                content = $('#main').smoothState({
                    development: true,
                    prefetch: true,
                    pageCacheSize: 4,
                    // Runs when a link has been activated
                    onStart: {
                        duration: 250, // Duration of our animation
                        render: function (url, $container) {
                            // toggleAnimationClass() is a public method
                            // for restarting css animations with a class
                            content.toggleAnimationClass('is-exiting');
                            // Scroll user to the top
                            //                        $body.animate({
                            //                            scrollTop: 0
                            //                        });
                        }
                    }
                }).data('smoothState'); // makes public methods available
        })(jQuery);
    </script>
</body>

</html>